:root {
    --primary: #00ff87;
    --secondary: #3d195b;
    --bg: #0d1117;
    --card: #161b22;
    --text: #ffffff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

.screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.hidden { display: none; }

/* Menú */
.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.logo span { color: var(--primary); }

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.menu-card {
    background: var(--card);
    padding: 2rem;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #30363d;
    text-align: center;
    transition: 0.3s;
}

.menu-card:hover { border-color: var(--primary); transform: translateY(-5px); }
.coming-soon { opacity: 0.5; cursor: not-allowed; }

/* Juego */
.game-layout {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

#hangmanCanvas {
    background: #f0f0f0;
    border-radius: 12px;
    border: 3px solid var(--card);
}

.word-container {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 6px;
    margin-bottom: 1.5rem;
    text-align: center;
    min-height: 50px;
}

/* TECLADO QWERTY */
.keyboard-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 2rem;
}

.keyboard-row {
    display: flex;
    gap: 6px;
}

.key {
    width: 42px;
    height: 48px;
    background: var(--card);
    border: 1px solid #30363d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    user-select: none; /* Evita que se seleccione el texto al hacer click rápido */
}


.key:hover { border-color: var(--primary); }

/* Estado oscurecido */
.key.used {
    opacity: 0.15;
    background: #000;
    pointer-events: none;
    transform: scale(0.9);
}

/* Inputs y Botones */
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    background: #0d1117;
    border: 1px solid #30363d;
    color: white;
    padding: 12px;
    border-radius: 8px;
    flex-grow: 1;
}

.secondary-btn { background: var(--secondary); color: white; border: none; padding: 12px 20px; border-radius: 8px; cursor: pointer; }

.game-nav { width: 100%; display: flex; justify-content: space-between; max-width: 900px; }
.back-btn { background: none; border: 1px solid var(--primary); color: var(--primary); padding: 8px 15px; border-radius: 5px; cursor: pointer; }
